$splash-color = #ccc
$splash-bg-color = #333
$splash-size = 3rem
$splash-padding = 1rem

.splash
  z-index 10
  display flex
  flex-direction column
  align-items center
  justify-content center
  font-size $splash-size
  color $splash-color
  background-color $splash-bg-color
  > *
    margin $splash-padding

// http://tobiasahlin.com/spinkit/
.spinner
  width $splash-size
  height $splash-size
  animation spinner-rotate 2.0s infinite linear

  &::before, &::after
    content ''
    width 60%
    height 60%
    display inline-block
    position absolute
    top 0
    background-color $splash-color
    border-radius 100%
    animation spinner-bounce 2.0s infinite ease-in-out

  &::after
    content ''
    top auto
    bottom 0
    animation-delay -1.0s

@keyframes spinner-rotate
  100%
    transform rotate(360deg)
@keyframes spinner-bounce
  0%, 100%
    transform scale(0.0)
  50%
    transform scale(1.0)
