// By convention, styles go in components/component_name/style.styl.

.example-container
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  height 100%

.example-main
  height 90%
  overflow auto
