$spinner-size = 2rem
$spinner-color = #ccc

#spinner
  position absolute
  top 'calc(50% - %s)' % $spinner-size
  left 'calc(50% - %s)' % $spinner-size
  width $spinner-size
  height $spinner-size
  animation sk-rotate 2.0s infinite linear

  &::before, &::after
    content ''
    width 60%
    height 60%
    display inline-block
    position absolute
    top 0
    background-color $spinner-color
    border-radius 100%
    animation sk-bounce 2.0s infinite ease-in-out

  &::after
    content ''
    top auto
    bottom 0
    animation-delay -1.0s

@keyframes sk-rotate
  100%
    transform rotate(360deg)
@keyframes sk-bounce
  0%, 100%
    transform scale(0.0)
  50%
    transform scale(1.0)
