doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title astral
  body
    // Loading spinner
    #spinner
    a-scene
      a-assets#assets(style='display: none')
        img(id='sky' src='static/sky.jpg')
      a-sky(src='#sky')
      // TODO: Figure out why I can't just use a-entity
      a-sphere(radius=0)
        a-animation(attribute='rotation' to='0 360 0' easing='linear'
                    repeat='indefinite' dur='50000')
        a-sphere(radius=0 rotation='0 0 30')
          a-sphere#p1(radius='2' position='0 0 -50' color='orange')
            a-animation(attribute='rotation' to='0 360 0' easing='linear'
                        repeat='indefinite' dur='5000')
            a-sphere#p2(radius='1' position='4 0 0' color='red')
