doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title VR BSS
  body
    a-scene
      a-box(color='#6173F4' width='1' height='1' depth='1'
            position='0 0 -5')
